body{
    background: url("https://img.freepik.com/free-photo/different-size-books-bookshelf-blue-background-education-knowledge-reading-back-school-theme_78240-70.jpg?w=740"); 
}

h1 {color:darkblue;}
h2 {color: white;}